.subtaskItem {
  margin-left: 20px; // Indent subtasks
  display: flex;
  align-items: center;
}

.subtask {
  margin-top: 10px; // Add space above the subtask
}

.subtaskItem input[type="text"] {
  flex-grow: 1;
  margin-left: 5px; // Add some space between checkbox and text input
}